.storybook-button {
  display: inline-block;
  cursor: pointer;
  border-radius: 8px;
  line-height: 1;
  border: 0;
}
.storybook-button--primary {
  background-color: #0F172A;
  color: #E2E8F0;
}
.storybook-button--secondary {
  background-color: var(--badge);
  border: solid 1px rgba(15, 23, 42, 0.10);
  color: #0F172A;
}
.storybook-button--small {
  padding: 6px 10px;
  font-size: 12px;
}
.storybook-button--medium {
  padding: 8px 12px;
  font-size: 14px;
}
.storybook-button--large {
  padding: 12px 14px;
  font-size: 16px;
}

.storybook-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-icon {
  width: 18px; 
  height: 18px;
  margin-left: 12px; 
}